.product {
  border: 1px solid #95A0A7;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product .product-inner {
  padding: 8px;
}

.product img {
  max-width: 100%;
  border-radius: 8px;
}

.product h3 {
  margin: 5px 0;
  font-weight: 500;
}

.product .manufacturer {
  margin-top: 30px;
  color: #2A414F;
}

.product .rating {
  color: #2A414F;
}

.product button {
  width: 100%;
  padding: 10px;
  border-radius: 0 0 8px 8px;
  border: 0;
  border-top: 1px solid #95A0A7;
  background-color: #FFE0B3;
}

.product button:hover {
  background-color: orange;
}